.background {
    -fx-image: url("../images/main.png");

    -fx-pref-width: 960;
    -fx-pref-height: 540;
    /*-fx-background-image: url("../images/main.png");
    -fx-background-repeat: round;*/
}

.input {
    -fx-pref-width: 200;
}

.statusText {
    -fx-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", Arial, sans-serif;
    -fx-fill: mintcream;
}